<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <div>
      <select name="" v-model="selected">
        <option v-for="(pokemonName, index) in opciones" :key="index" :value="pokemonName"> {{ pokemonName }} </option>
      </select>
      <button @click="getPokemon" >Obtener pokemon</button>
    </div>
    <h1>Pokemon</h1>
    <h2>{{ pokemon.name }}</h2>
    <h3>lista de ataques</h3>
    <img :src="pokemon.image" alt="" srcset="">
    <div v-for="(atack, index) in pokemon.attacks" :key="index" >
      <h3>{{ index }}</h3>
      <ol>
        <li v-for="(especial, index) in atack"  :key="index" > {{ especial.name + " | " + especial.damage }} </li>
      </ol>
    </div>
    <HelloWorld msg="hay papantla tus hijos vuelan!!" ></HelloWorld>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld"
export default {
  name: 'app',
  components: {
    HelloWorld
  },
  mounted(){
    this.selected = "pikachu";
    this.getPokemon();
  },

  data(){
    return {
      pokemon:{},
      opciones:[
        "venusaur",
        "mewtwo",
        "pikachu",
        "charmander",
        "psyduck",
        "charizard",
        "gyarados",
        "dragonite",
        "blastoise",
        "vulpix",
        "golbat",
      ],
      selected:""
    }
  },

  methods:{
      getPokemon(){
        this.$axios({
          method:"POST",
          url:"https://graphql-pokemon.now.sh",
          data:{
            query: `
              {
                pokemon(name: "${this.selected}") {
                  id
                  number
                  name
                  image
                  attacks {
                    special {
                      name
                      type
                      damage
                    }
                  }
                  evolutions {
                    id
                    number
                    name
                    weight {
                      minimum
                      maximum
                    }
                    attacks {
                      fast {
                        name
                        type
                        damage
                      }
                    }
                  }
                }
              }
              `
          }
        }).then((response) => {
          this.pokemon = response.data.data.pokemon;
        });
      }
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
